@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  .h4 {
    @apply text-[15px] xl:text-[17px] leading-[1.1] font-semibold;
  }
}

@layer components {
  .timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .timeline-items::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #ffb703;
    left: calc(50% - 2.5px);
  }
  .timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
  }
  .timeline-item:last-child {
    margin-bottom: 0;
  }
  .timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
  }
  .timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
  }
  .timeline-dot {
    height: 21px;
    width: 21px;
    background-color: #ffb703;
    box-shadow: 0 0 25px #ffb703, 0 0 50px #ffb703;
    position: absolute;
    left: calc(50% - 10.5px);
    border-radius: 50%;
    top: 10px;
  }
  .timeline-date {
    font-size: 20px;
    font-weight: 800;
    margin: 6px 0 15px;
  }
  .timeline-content {
    @apply bg-primary border-4 border-accent rounded-xl p-8 transition-transform transition-opacity duration-300 ease-in-out;
    box-shadow: 0 0 25px #ffb703, 0 0 50px #ffb703;
  }
}
